<h1 class="card-title">Available Lobbies</h1>
<div class="row align-items-center my-2">
  <div class="col align-self-center">
    <form>
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6 align-self-center">
          <input
            placeholder="Full text search:"
            class="form-control"
            type="text"
            [formControl]="filter"
          />
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="table-responsive table-wrap">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Capacity</th>
            <th scope="col">Entry Fee</th>
            <th scope="col">Play Lottery</th>
          </tr>
        </thead>
        <tbody *ngIf="loading">
          <div class="text-center">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </tbody>
        <tbody>
          <tr *ngFor="let lobby of lobbyList$ | async; index as i">
            <th scope="row">
              {{ (page - 1) * pageSize + i + 1 }}
            </th>
            <td>
              <a>
                <ngb-highlight
                  [result]="lobby.name"
                  [term]="filter.value"
                ></ngb-highlight>
              </a>
            </td>
            <td>
              <ngb-highlight
                [result]="lobby.capacity"
                [term]="filter.value"
              ></ngb-highlight>
            </td>
            <td>
              <ngb-highlight
                [result]="lobby.entryFee"
                [term]="filter.value"
              ></ngb-highlight>
            </td>
            <td>
              <a
                placement="top"
                ngbTooltip="Play Lottery"
                [routerLink]="routerLinks[lobby.id]"
                class="btn btn-link"
              >
                <span
                  class="material-icons"
                  [ngClass]="{
                    favourite: true
                  }"
                >
                  play_arrow
                </span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
