<h1 class="card-title">Bank Branches</h1>
<div class="row align-items-center my-2">
  <div class="col align-self-center">
    <form>
      <div class="row align-items-center">
        <div class="col-lg-2 col-md-12 align-self-center my-2">
          <div
            class="btn-group btn-group-toggle"
            ngbRadioGroup
            (change)="refreshBranches()"
            name="radioBasic"
            [(ngModel)]="model"
          >
            <label ngbButtonLabel class="btn-primary">
              <input ngbButton type="radio" value="All" /> Show All
            </label>
            <label ngbButtonLabel class="btn-primary">
              <input ngbButton type="radio" value="Favourites" /> Show
              Favourites
            </label>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 align-self-center">
          <input
            placeholder="Full text search:"
            class="form-control"
            type="text"
            [formControl]="filter"
          />
        </div>
        <div *ngIf="model == 'All'" class="col-lg-4 col-md-6 align-self-center">
          <select
            [formControl]="city"
            (change)="refreshBranches()"
            class="form-control form-control"
          >
            <option
              *ngFor="
                let i of ['Mumbai', 'Noida', 'Delhi', 'Pune', 'Bangalore']
              "
            >
              {{ i }}
            </option>
          </select>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="table-responsive table-wrap">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Bank</th>
            <th scope="col">IFSC</th>
            <th scope="col">Branch</th>
            <th scope="col">Address</th>
            <th scope="col">City</th>
            <th scope="col">District</th>
            <th scope="col">State</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody *ngIf="loading">
          <div class="text-center">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </tbody>
        <tbody *ngIf="!loading">
          <tr *ngFor="let branch of branches$ | async; index as i">
            <th *ngIf="model == 'All'" scope="row">
              {{ (page - 1) * pageSize + i + 1 }}
            </th>
            <th *ngIf="model == 'Favourites'" scope="row">
              {{ i + 1 }}
            </th>
            <td>
              <a [routerLink]="'/banks/' + branch.ifsc">
                <ngb-highlight
                  [result]="branch.bank"
                  [term]="filter.value"
                ></ngb-highlight>
              </a>
            </td>
            <td>
              <ngb-highlight
                [result]="branch.ifsc"
                [term]="filter.value"
              ></ngb-highlight>
            </td>
            <td>
              <ngb-highlight
                [result]="branch.branch"
                [term]="filter.value"
              ></ngb-highlight>
            </td>
            <td>
              <ngb-highlight
                [result]="branch.address"
                [term]="filter.value"
              ></ngb-highlight>
            </td>
            <td>
              <ngb-highlight
                [result]="branch.city"
                [term]="filter.value"
              ></ngb-highlight>
            </td>
            <td>
              <ngb-highlight
                [result]="branch.district"
                [term]="filter.value"
              ></ngb-highlight>
            </td>
            <td>
              <ngb-highlight
                [result]="branch.state"
                [term]="filter.value"
              ></ngb-highlight>
            </td>
            <td>
              <button
                placement="top"
                ngbTooltip="Add to favourites"
                type="button"
                (click)="addToFav(branch)"
                class="btn btn-link"
              >
                <span
                  class="material-icons"
                  [ngClass]="{
                    favourite: branch.favourite,
                    notfavourite: !branch.favourite
                  }"
                >
                  star_rate
                </span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div *ngIf="model == 'All'" class="row align-middle align-items-center my-2">
  <div class="col-12 align-self-center">
    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="collectionSize"
        [(page)]="page"
        [pageSize]="pageSize"
        (pageChange)="refreshBranches()"
        [maxSize]="7"
        [rotate]="true"
      >
      </ngb-pagination>
    </div>
  </div>

  <div class="col-12 align-middle btn align-self-center">
    Show Records:
    <div class="col-2 align-middle btn align-self-center">
      <select
        [formControl]="pageSizeCtrl"
        (change)="refreshBranches()"
        class="form-control form-control"
      >
        <option *ngFor="let i of [10, 20, 50, 100]">{{ i }}</option>
      </select>
    </div>
  </div>
</div>
