<div class="container-fluid">
  <a
    placement="top"
    ngbTooltip="Play Lottery"
    [routerLink]="['']"
    class="btn btn-link"
  >
    Dashboard
  </a>
  <a
    placement="top"
    ngbTooltip="Play Lottery"
    [routerLink]="['lobby']"
    class="btn btn-link"
  >
    Lobbies
  </a>
  <a
    placement="top"
    ngbTooltip="Play Lottery"
    href="https://nekvinder.com:8008/?format=json"
    class="btn btn-link"
  >
    API
  </a>
  <div class="row">
    <div class="col px-4 py-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
